body {
    background-color: rgb(226, 223, 223);
}

#Home .card {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
}

#Home .card:hover {
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
}

#Home.container {
    padding-top: 10%;
}

#Home>.row>.col>img {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s;
}

#Home>.row>.col>img:hover {
    box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.2);
}